<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}{% endblock %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="container">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">
        <nav class="my-2 my-md-0 mr-md-3">
  <a class="btn btn-outline-primary" href="/">Home</a>
        </nav>
    </h5>
</div>
</div>
    {% block body %}{% endblock %}
</body>
</html>