<style>
    #introduction { color: black; }
/* CSS */
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 10px;
    margin: 0;
    font-size: 16px;
    border-spacing: 0;
}
.table {
    display: table;
    box-sizing: border-box;
    border-spacing: 2px;
    border-color: grey;
    border-collapse: collapse;
    width: 30px;
    height: 30px;
}
.tr {
    display: table-row;
    border-color: inherit;
}
.td {
    display: table-cell;
    vertical-align: inherit;
}
.game-cell {
    width: 27px;
    height: 27px;
    background: #eee;
    overflow: hidden;
    border-color: #000;
    box-shadow: none;
    text-align: center;
    vertical-align: bottom;
    color: black;
    font-size: 20px;
}
game-cell:hover {
    background: #fff;
}
.cell-weight {
    color: #000;
    font-size: 20px;
    overflow: hidden;
    text-align: center;
    vertical-align: bottom;
}
.txt {
    text-align: center;
    vertical-align: bottom;
}
</style>


{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block title %}
    Play
{% endblock %}

{% block body %}
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script>
   setInterval(function()
   {
   $("#result2").load("/play/{{ id }} #result", function() {
   {#alert("Load");#}
   });
   }, 1000)
 </script>
    <script>
        $(function(){
            $(document).on('click', '.game-cell', function(){
                    $.ajax({
                type: 'POST',
                url: "/play/{{ id }}",
                data: $('form').serialize()})
            alert('Привет мир!');
        });
});
    </script>
<div class="container">
<form method="post" name="form">
        <label for="ii"></label><input type="number" name="ii" id="ii" class="form-control"><br>
        <label for="jj"></label><input type="number" name="jj" id="jj" class="form-control"><br>
    {% if status == 2 %}
        <label for="send"></label><input type="submit" class="btn btn-success" value="Send" name="send">
        <label for="computer"></label><input type="submit" class="btn btn-success" value="Computer" name="computer">
        <label for="clear"></label><input type="submit" class="btn btn-success" value="Clear" name="clear"><br>
    {% else %}
        <label for="clear"></label><input type="submit" class="btn btn-success" value="End Game" name="clear"><br>
    {% endif %}
</form>
<div id="result2">
     <table class="game-table" id="result">
      <tr class="game-table__tr">
      <td class="game-table__td">
                <div class=" btn-outline-secondary game-cell" id="introduction"></div>
      </td>
     {% for ii in range(19) %}
            <td class="game-table__td">
                <div class=" btn-outline-secondary game-cell" id="introduction"> {{ ii }} </div>
            </td>
     {% endfor %}
     </tr>
     {% for ii in range(19) %}
        <tr class="game-table__tr">
        <td class="game-table__td">
                <div class=" btn-outline-secondary game-cell" id="introduction"> {{ ii }}</div>
        </td>
            {% for jj in range(19) %}
            <td class="game-table__td">
                <div class="btn-outline-secondary game-cell" name="{{ ii * 19 + jj }}" id="introduction">{{ str[ii * 19 + jj] }}</div>
            </td>
            {% endfor %}
        </tr>
     {% endfor %}
     </table>
</div>
</div>
{% endblock %}