{% extends 'base.html' %}

{% block title %}
    Update article
{% endblock %}

{% block body %}
    <div class = container>
    <h1>Update text</h1>
    <form method="post">
        <label for="title"></label><input type="text" name="title" id="title" class="form-control" value="{{ article.title }}" placeholder="Enter"><br>
        <label for="intro"></label><textarea name="intro" id="intro" class="form-control">{{ article.intro }}</textarea><br>
        <label for="text"></label><textarea name="text" id="text" class="form-control">{{ article.text }}</textarea><br>
        <label for="title"></label><input type="submit" class="btn btn-success" value="Update"><br>
    </form>
    </div>
{% endblock %}